@mixin hover {
  transition: color $duration;

  &:hover {
    color: $blue;
  }
}

@mixin hover-reverse {
  transition: color $duration;

  &:hover {
    color: $light;
  }
}

@mixin hover-button {
  transition: background-color $duration;

  &:hover {
    background-color: $back;
  }
}

@mixin hover-card {
  transition: background-color $duration;

  &:hover {
    background-color: $border;
  }
}