// Цвета
$dark: #030917;
$back: #0b1530;
$blue: #6164ef;
$light: #fcfcfc;

// Шрифты
$family: "Fair", serif;
$size: 20px;

// Адаптив
$break-tablet: 980px;
$break-mobile: 480px;

// Остальное
$container: 1200px;
$duration: .25s;
$radius: 10px;