// Цвета
$dark: #030917;
$blue: #6164ef;
$light: #fcfcfc;

// Шрифты
$font-family: "Fair", serif;
$font-size: 20px;

// Адаптив
$break-tablet: 980px;
$break-mobile: 480px;

// Остальное
$container: 1200px;
$duration: .25s;
$radius: 10px;